<template name="changeProfilePhoto">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {{#each images}}
                <div>
                  {{#if uploadNotStarted}}
                  <h3>Please wait! starting upload...</h3>
                  <p>{{> loadingTemplate}}</p>
                  {{/if}}
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%">
                    {{percent_uploaded}}%
                  </div>
                </div>
                
                <div id="imageThumbnail">
                  <img src="{{url}}"  width="100"  height="100" class="img-thumb" alt="thumbnail" />
                </div>
                {{#if isComplete}}
                <a href="#" data-action="remove-image"><i class="fa fa-times"></i>Remove</a>
                {{/if}}
                {{/each}}
                
                <div id="image-select">
                  <p><strong>Select a picture from your computer</strong></p>
                    <input type="file" class="image_bag">
                </div>
            </div>
        </div>
    </div>
</template>