<template name="createProfile">
       <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2 col-xs-12">
                {{#autoForm schema=profileFormSchema id="profileForm"}}
                <fieldset>
                  <legend>Create your profile</legend>
                  <div class="form-blocks">
                      <div class="col-md-6">
                          {{> afQuickField name="first_name"}}
                      </div>
                      <div class="col-md-6">
                          {{> afQuickField name="last_name"}}
                      </div>
                  </div>
                  <div class="form-blocks">
                      <div class="col-md-6">
                      {{> afQuickField name="country"}}
                      </div>
                      <div class="col-md-6">
                       {{> afQuickField name="city"}}
                    </div>
                  </div>
                  <div class="form-blocks">
                     
                     <div class=" col-md-12 block-label">
                         <center><label>Date of Birth</label></center>
                     </div>
                      <div class="col-md-4">
                          {{> afQuickField name="month" label=false selectizeOptions=s2OptsMonth}}
                      </div>
                      <div class="col-md-4">
                          {{> afQuickField name="day" label=false selectizeOptions=s2OptsDay}}
                      </div>
                      <div class="col-md-4">
                              {{> afQuickField name="year" label=false selectizeOptions=s2OptsYear}}
                      </div>
                  </div>
                                  
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </fieldset>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>