<template name="createProfile">
      <div class="container">
       <div class="row">
           <div class="col-md-8 col-md-offset-2 col-xs-12">
               <!-- {{#autoForm collection="Meteor.users" id="profileForm" }} -->
                {{#autoForm collection=Users id="profileForm" doc=User type="update"}}
                <center>
                   <h2 class="form-title">Yay! You are just a step away from joining the Travit community.
                   </h2>
                </center>
                <center>
                   <h2 class="form-title">Create your profile to complete the process.</h2>
               </center>
               <fieldset>
                  {{#if emailUser}}
                     <div class="form-blocks top-form-block">
                         <div class="col-md-6">
                             {{> afQuickField name="profile.first_name"}}
                         </div>
                         <div class="col-md-6">
                             {{> afQuickField name="profile.last_name"}}
                         </div>
                     </div>
                     <div class="form-blocks">
                        <div class="col-md-6">
                            {{> afQuickField name="profile.birthday" }}
                        </div>
                       <div class="col-md-6">
                           {{> afQuickField name="profile.gender"}}
                       </div>
                     </div>
                     <div class="form-blocks">
                         <div class="col-md-6">
                         {{> afQuickField name="profile.country" id='user_resident_country'}}
                         </div>
                         <div class="col-md-6">
                          {{> afQuickField name="profile.city" options=userResidentCity}}
                       </div>
                     </div>
                     <div class="form-blocks">
                         <div class=" col-md-12 block-label">
                             <center><label>Frequent travel route</label></center>
                         </div>
                         <div class="col-md-6">
                             {{> afQuickField name="profile.travel_route_from" label=false selectizeOptions=travel_route_from}}
                         </div>
                         <div class="col-md-6">
                             {{> afQuickField name="profile.travel_route_to" label=false selectizeOptions=travel_route_to}}
                         </div>
                     </div>
                     <div class="form-blocks">
                         <div class="col-md-6">
                             {{> afQuickField name="profile.number_of_travels"}}
                         </div>
                         <div class="col-md-6">
                             {{> afQuickField name="profile.available_as_carrier" type="boolean-radios" trueLabel="Yes" falseLabel="No"}}
                         </div>
                     </div>
                  {{else}}
                      <div class="form-blocks">
                          <div class=" col-md-12 block-label">
                              <center><label>Frequent travel route</label></center>
                          </div>
                          <div class="col-md-4">
                              {{> afQuickField name="profile.travel_route_from" label=false selectizeOptions=travel_route_from}}
                          </div>
                          <div class="col-md-4">
                              {{> afQuickField name="profile.travel_route_to" label=false selectizeOptions=travel_route_to}}
                          </div>
                          <div class="col-md-4">
                              {{> afQuickField name="profile.available_as_carrier" type="boolean-radios" trueLabel="Yes" falseLabel="No"}}
                          </div>
                      </div>
                  {{/if}}            
                 <div class="col-sm-6 col-sm-offset-3 submit-block">
                   <center>
                     <input type="submit" value="Create my Profile" class="btn btn-info btn-block">
                   </center>
                 </div>
               </fieldset>
               {{/autoForm}}
           </div>
       </div>
   </div>
</template>