<template name="editProfile">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="well well-sm">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              {{#if hasNoMainPhoto currentUser}}
              {{> avatar userId=user._id shape="rounded" class="edit-profile-pic" size="large" }}
              {{else}}
              <img src="{{user.profile.photo}}" class="img-responsive img-thumbnail" alt="user photo" height="150" width="150">
              {{/if}}
              <a href="#" id="chg-picture">change picture</a>
            </div>
            <div class="col-sm-6 col-md-8">
              <h4>
                {{fullName user}}</h4>
                <small><cite title="{{user.profile.city}}, {{user.profile.country}}">&nbsp;{{user.profile.city}}, {{user.profile.country}} <i class="fa fa-map-marker"></i></cite></small>
                <p>
                  <i class="fa fa-shopping-cart"></i>&nbsp;{{checkCarrierStatus user}}
                  <br />
                  <i class="fa fa-plane"></i>&nbsp;{{user.profile.travel_route_from}} to {{user.profile.travel_route_to}}
                  <br />
                  <i class="fa fa-birthday-cake"></i>&nbsp;{{dob_ft user.profile.birthday}}
                  <br />
                  <strong>Bio:</strong>&nbsp;{{user.profile.bio}} 
                </p>
                <a href="{{pathFor 'edit-profile'}}" class="btn btn-primary">
                  Edit Profile
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> changeProfilePhotoModal}}
  </template>