<template name="filteredItems">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 top-bar">
            <section class="my-top-bar">
              <div class="full-width">
                <div class="full-width-btns-lg hidden-xs">
                  <center>
                    <a href="{{pathFor 'listings'}}" class="ui button">
                      View All Listings
                    </a>
                    <a href="{{pathFor 'senderPostForm'}}" class="ui button">
                      Send a package
                    </a>
                    <a href="{{pathFor 'travellerPostForm'}}" class="ui button">
                      Post a trip
                    </a>
                  </center>
                </div>
                <div class="full-width-btn-xs visible-xs">
                  <table style="width:100%" id="full-width-btns-table">
                    <tbody>
                      <tr>
                        <td>
                          <a href="{{pathFor 'listings'}}" class="ui button mini">
                              View All Listings
                          </a>
                        </td>
                        <td>
                          <a href="{{pathFor 'senderPostForm'}}" class="ui button mini">
                            Send a package
                          </a>
                        </td>
                        <td>
                          <a href="{{pathFor 'senderPostForm'}}" class="ui button mini">
                            Send a package
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="ui top attached tabular menu">
        <a class="active item" data-tab="first">Listed items that match your travel route</a>
      </div>
    {{#if noItems items}}
      <center>
        <div class="no-items">
          <h1>There are no listed items currently on this travel route.</h1>
        </div>
      </center>
      {{else}}
      <div class="ui bottom attached active tab segment" data-tab="first">
        <div class="container-fluid" style="background-color:#e8e8e8">
          <div class="container container-pad" id="property-listings">
            <div class="row">
              <div class="col-sm-6"> 
                {{#each oddItems}}
                <!-- Begin Listing -->
                <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                  <div class="media">
                    <a class="pull-left" href="{{pathFor 'itemDetails' id=_id}}" target="_parent">
                      <img alt="image" class="img-responsive" 
                      src="{{absoluteImageUrl}}"></a>

                      <div class="clearfix visible-sm"></div>

                      <div class="media-body fnt-smaller">
                        <a href="#" target="_parent"></a>

                        <h4 class="media-heading">
                          <a href="{{pathFor 'itemDetails' id=_id}}" target="_parent">
                            {{title}} 
                          </a>
                          <a href="{{pathFor 'user_profile' _id=itemOwnerId}}">
                            <small class="pull-right">
                              by {{item_owner _id}}
                            </small>
                          </a>
                        </h4>


                        <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                          <li>weight: {{weight}}</li>

                          <li style="list-style: none">|</li>

                          <li>${{reward}} reward</li>

                        </ul>

                        <p class="hidden-xs">{{description}}
                        </p>
                        <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                          <li class="fnt-arial fnt-lighter">
                            From {{origin_country}} to {{destination_country}}
                          </li>
                        </ul>
                        <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                         <li class="fnt-arial fnt-lighter">
                          Send Date: {{date_ft send_date}}
                        </li>
                      </ul>
                      <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                       <li class="fnt-arial fnt-lighter">
                        Delivery Date: {{date_ft delivery_date}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div><!-- End Listing-->
              {{/each}}
            </div>

            <div class="col-sm-6">  
              {{#each evenItems}}
              <!-- Begin Listing -->
              <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                <div class="media">
                  <a class="pull-left" href="{{pathFor 'itemDetails' id=_id}}" target="_parent">
                    <img alt="image" class="img-responsive" 
                    src="{{absoluteImageUrl}}"></a>
                    <div class="clearfix visible-sm"></div>

                    <div class="media-body fnt-smaller">
                      <a href="#" target="_parent"></a>

                      <h4 class="media-heading">
                        <a href="{{pathFor 'itemDetails' id=_id}}" target="_parent">
                          {{title}} 
                        </a>
                        <a href="{{pathFor 'user_profile' _id=itemOwnerId}}">
                          <small class="pull-right">
                            by {{item_owner _id}}
                          </small>
                        </a>
                      </h4>


                      <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                        <li>weight: {{weight}}</li>

                        <li style="list-style: none">|</li>

                        <li>${{reward}} reward</li>
                      </ul>

                      <p class="hidden-xs">{{description}}
                      </p>
                      <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                        <li class="fnt-arial fnt-lighter">
                          From {{origin_country}} to {{destination_country}}
                        </li>
                      </ul>
                      <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                       <li class="fnt-arial fnt-lighter">
                        Send Date: {{date_ft send_date}}
                      </li>
                    </ul>
                    <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                     <li class="fnt-arial fnt-lighter">
                      Delivery Date: {{date_ft delivery_date}}
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- End Listing-->
            {{/each}}

          </div><!-- End Col -->
        </div><!-- End row -->
      </div><!-- End container -->
    </div>  
    </div>
  {{/if}}
</template>