<template name="footer">
	<section id="bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<h3>Services</h3>
					<ul>
						<li><a href="index.html#">send Item</a>
						</li>
						<li><a href="index.html#">Receive Item</a>
						</li>
						<li><a href="index.html#">Earn more ratings</a>
						</li>
						<li><a href="index.html#">Earn cash</a>
						</li>
						<li><a href="index.html#">meet new people</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<h3>FAQs</h3>
					<ul>
						<li><a href="index.html#">Why choose us?</a>
						</li>
						<li><a href="index.html#">Where we are?</a>
						</li>
						<li><a href="index.html#">Fees</a>
						</li>
						<li><a href="index.html#">Guarantee</a>
						</li>
						<li><a href="index.html#">Policies</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<h3>About</h3>
					<ul>
						<li><a href="index.html#">Career</a>
						</li>
						<li><a href="index.html#">Partners</a>
						</li>
						<li><a href="index.html#">Team</a>
						</li>
						<li><a href="index.html#">Clients</a>
						</li>
						<li><a href="index.html#">Contact</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<h3>Find us on</h3>
					<a class="social" href="index.html#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
					<a class="social" href="index.html#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
					<a class="social" href="index.html#" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
					<a class="social" href="index.html#" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
				</div>
			</div>
		</div>
	</section>
	<!-- footer ends -->
</template>