<template name="home">
	<body>
		<!-- Hero Area Section -->
		<section id="hero-area">
			<div class="hero-inner">
				<div class="container">
					<div class="row">
						<!-- <h4 class="title-big animated zoomIn">Coming Soon !</h4> -->
						<div class="col-md-12">
							<!-- <div class="animated zoomIn"> -->
							<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
								<div class="carousel-inner">
									<div class="item active"><!-- class of active since it's the first item -->
										<div class="carousel-caption">
											<h4 class="title-big animated zoomIn">Have your items delivered for you to other countries </h4>
											<h2 class="subtitle-big animated zoomIn">
											</h2>
											<h2 class="subtitle-big-second animated zoomIn"><i class="fa fa-check"></i> Connect with travellers to send your preferred item from one country to another country.
											</h2>
											<h2 class="subtitle-big-second animated zoomIn"><i class="fa fa-check"></i> Currently available in Ghana, USA & UK.
											</h2>
											<!-- </div> -->
										</div>
									</div>
									<div class="item">
										<div class="carousel-caption">
											<h4 class="title-big animated zoomIn">You can earn extra cash on your trip</h4>
											<h2 class="subtitle-big animated zoomIn"><i class="fa fa-check"></i> Transport items from one location to another.
											</h2>
											<h2 class="subtitle-big-second animated zoomIn"><i class="fa fa-check"></i> It's stress-free. Just use extra space in your luggage to transport items.
											</h2>
										</div>
									</div>
								</div>
							</div><!-- /.carousel-inner -->

				  <!--  Next and Previous controls below
				  href values must reference the id for this carousel -->
				  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
				</div><!-- /.carousel -->
				<div class="home-button-text-center col-md-12 wow animated fadeInDown">
					<!-- <form role="form" class="sign-up-form"> -->

						<!-- 	{{#autoForm collection="Emails" id="insertEmailForm" type="insert"}}
							<fieldset>
								
								{{> afQuickField name='email' placeholder="Enter email" id="emails"}}

								{{> afQuickField name='typeOfUser' options="allowed"  placeholder="Type Of User"}}
								
							</fieldset> -->
							<!-- <button type="submit" class="btn btn-primary">Insert</button> -->
							<div class="wow fadeInDown row" data-wow-delay=".7s">
								<div class="col-md-3">&nbsp;</div>
								<div class="media-btn">
									
									<button class="send-package btn btn-border btn-lg wow fadeInUp col-md-3 package-btn" data-wow-delay="1s" type="submit">Send Package</button>

									<button class="carry-package btn btn-border btn-lg wow fadeInUp col-md-3 ">Carry Package</button>
								</div>
								<div class="col-md-3">&nbsp;</div>
							</div>
							<!-- {{/autoForm}} -->

							<!-- </form> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Hero Area Section End-->

		<!-- feature Section -->

		<section id="key-features">
			<div class="container text-center">
				<div class="row">
					<h1 class="title-small wow tada">Why Travit?</h1>
					<h2 class="subtitle-small wow fadeInLeft" data-wow-delay=".5s">It is the future of delivery in the world</h2>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay=".5s">
						<div class="feature-item">
							<i class="fa fa-money fa-4x"></i>
							<h3>Afforable</h3>
							<p>
								It is very affordable to use Travit compared to other courier services. All you have to do is find a traveller and send item for minimum amount.
							</p>
						</div>
					</div>


					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay=".8s">
						<div class="feature-item">
							<i class="fa fa-search fa-4x"></i>
							<h3>Easy</h3>
							<p>
								Travit platform is very easy to access a traveller. Register or sign In, use the search box to find a traveller and place a request
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="1.2s">
						<div class="feature-item">
							<i class="fa fa-fighter-jet fa-4x"></i>
							<h3>Fast</h3>
							<p>
								Travit is a fast way of getting your items delivered to you. Once the traveller arrives in the destination country, you have access to your items.
							</p>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- feature Section End -->
		<!-- footer  begins -->

	</body>
</template>