<template name="itemDetails">
	<!-- Page Content -->
	<div class="container">

		{{#with itemDetails}}
		<div class="row">
			<div class="col-md-8">
				<h2>
					<p>{{title}}</p>
				</h2>
				<p> <h3>From: {{origin_country}} ({{origin_city}} )   <i class="fa fa-arrow-right"></i>   {{destination_country}} ({{destination_city}}) </h3>
				</p>
				<p class="lead">
					<h6>Posted by <a href="{{pathFor 'user_profile' _id=itemOwnerId}}">
					{{item_owner _id}}
					</a></h6>
				</p>
				<p>
					Send Date: {{date_ft send_date}} | Delivery Date: {{date_ft delivery_date}}
				</p>
				<hr>
				<img alt="image" class="img-responsive" src="{{absoluteImageUrl}}">
				<hr>

			</div>

			<!-- Blog Sidebar Widgets Column -->
			<div class="col-md-4">

				<!-- Blog Search Well -->
				<div class="well side-well">
					<h4>Item Specifications</h4>
					<div class="row round-circles">
						<div class="col-md-4">
							<div class="circle" title="Amount offered">
								<p class="fontawesome">
									<i class="fa fa-money"></i>
								</p>
								<p class="amount">
									<br>
									$ {{reward}}
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="big-circle" title="Targeted weight">
								<p class="fontawesome">
									<i class="fa fa-suitcase"></i>
								</p>
								<p class="amount">
									<br>
									{{weight}} kg
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="circle" title="Mail me" id="send-msg">
								<p class="fontawesome">
									<i class="fa fa-env"></i>
								</p>
								<p class="envelope">
									<i class="fa fa-envelope-o"></i>
								</p>
							</div>
						</div>
						<div class="applyToCarryItems">
							<p class="getter" data-user-id="{{item_owner_id _id}}"></p>
							<p class="get-item-owner" data-user-id="{{item_owner_id _id}}"></p>
							<p class="get-item-id" data-item-id="{{_id}}"></p>
							<center>
								<p>
									{{#if hasSentRequest _id}}
										 <button class="btn btn-default btn-round" type="button" disabled>
										 	<i class="fa fa-weixin"></i>
										 	Request Sent
										 </button>
										{{else}}
											<a type="button" class="btn btn-default btn-round 
												btn-carry-req"><i class="fa fa-weixin"></i>
												Request to carry
											</a>
										{{/if}}
								</p>
							</center>
						</div>
					</div>
					<!-- /.input-group -->
				</div>

				<!-- Blog Categories Well -->
				<div class="well side-well">
					<h4>Item description</h4>
					<div class="row">
						<div class="col-lg-12 col-md-12">
							{{description}}
						</div>
					</div>
					<!-- /.row -->
				</div>

				<!-- Side Widget Well -->
				<!-- <div class="well">
					<h4>Activities</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
				</div> -->

			</div>
		</div>
		<!-- /.row -->

		{{/with}}
	</div>
	<!-- /.container -->
{{> messageModal}}
</template>