<template name="senderpost">
	
	<div class="senderpost">

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 top-bar">
					<section class="my-top-bar">
						<div class="full-width">
							<ul>
								<li>
									<a href="{{pathFor 'user_profile' _id=currentUser._id}}"><span class="fa fa-user fa-2x"></span> MY PROFILE </a>
								</li>
							</ul>
						</div>
					</section>
				</div>
				<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
					<ul class="event-list">
						
					</ul>
					<div class="row ">
						<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ] ">
							<h3><i class="fa fa-briefcase"></i> Upcoming List</h3>
							<ul class="event-list wow zoomIn">
								{{#each listOfItems}}
								<li>
									<time datetime="2014-07-20 2000">
										<span class="day">20</span>
										<span class="month">Jan</span>
										<span class="year">2014</span>
										<span class="time">8:00 PM</span>
									</time>
									<img alt="My 24th Birthday!" src="images/sender.jpg">
									<div class="info">
										<h2 class="title">{{description}}</h2>
										<p class="desc"></p>
										<p class="datesent">{{tm_cal send_date}} > {{tm_month delivery_date}}</p>
										<p class="sendfromcountry">{{origin_country}} - {{origin_city}} > {{destination_country}} - {{destination_city}}</p>

										<ul class="fa-icons">
											<li style="width:33%;">$ {{reward}} <span class="fa fa-money"></span></li>
											<li style="width:34%;">{{weight}} <span class="fa fa-briefcase"></span></li>
											<li style="width:33%;">mail me <span class="fa fa-envelope"></span></li>
										</ul>

									</div>
									<div class="social">
										<ul>
											<li class="facebook" style="width:33%;"><a href="#facebook" title="view facebook profile"><span class="fa fa-facebook"></span></a></li>
											<li class="twitter" style="width:34%;" title="view twitter profile"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
											<li class="google-plus" style="width:33%;"><a href="#google-plus" title="view google+ profile"><span class="fa fa-google-plus"></span></a></li>
										</ul>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>