<template name="modals">
	<!-- Modal for Emails Success -->
	<div class="modal fade" id="Emailsuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					You have successfully Signed-Up, we will gladly notify you once we launch.

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of Modal for Emails Success-->
</template>

<template name="messageModal">
  <div class="ui send-message modal small">
    <i class="close icon"></i>
    <div class="header">
      Send {{user.profile.first_name}} a message
    </div>
    <div class="content">
      
      {{#autoForm collection="Messages" id="sendMessageForm"}}
      {{> afQuickField name='subject' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-8"}}
      {{> afQuickField name='message' rows=3 label=false template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-8 col-sm-offset-2" placeholder="Enter message"}}
      <div class="call-out col-sm-6 col-sm-offset-2">
        <input type="submit" value="Send message" class="btn btn-info btn-review">
      </div>
      {{/autoForm}}
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
    </div>
  </div>
</template>

<template name="requestModal">
  <div class="ui send-request modal small">
    <i class="close icon"></i>
    <div class="header">
      Please select the item you can deliver
    </div>
    <div class="content">
     {{> selectItem}}
   </div>
   <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button blue approve">OK</div>
  </div>
</div>
</template>

<template name="changeProfilePhotoModal">
  <div class="ui chgProfilePhoto modal small">
    <i class="close icon"></i>
    <div class="header">
      Change your profile picture
    </div>
    <div class="content">
      {{> changeProfilePhoto}}
     </div>
      <div class="actions">
       <div class="ui button">Cancel</div>
       <div class="ui button blue approve">Save</div>
     </div>
   </div>
</template>
