<template name="postDetails">
	<!-- <div class="col-md-6">
		<div class="small-profile">
			profile
		</div>
	</div> -->
	

	<div class=" container ">
		<div class="row">
			<!-- Card Projects -->
			<div class=" col-md-6 card-title">
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem alias, repudiandae provident quisquam doloribus minus!</span>

			</div>
			<div class="col-md-6 col-md-offset-3">
				<div class="card">
					<div class="card-image">
						<img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
						
					</div>

					<div class="card-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quasi nisi nobis minus quaerat. Ea est sapiente aliquid veritatis repellendus iusto itaque provident porro deserunt repudiandae doloribus, nesciunt, consequuntur, tenetur.
						</p>
					</div>

					<div class="card-action">
						<a href="#" target="new_blank">Connect</a>
						<a href="#" target="new_blank">Wieght</a>
						<a href="#" target="new_blank">Cash Reward</a>
						<a href="#" target="new_blank">Link</a>
						<a href="#" target="new_blank">Link</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 side-panel">
				<div class="postDetails-leftPanel">
					<div >
						<div class="row">
							<div class="col-sm-6 col-md-12">
								<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
												</span>Content</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">
											<div class="panel-body">
												<table class="table">
													<tr>
														<td>
															<span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
															<span class="badge">42</span>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
												</span>Modules</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table">
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Invoices</a>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Shipments</a>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Tex</a>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
												</span>Account</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table">
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Change Password</a>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Import/Export</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
															Delete Account</a>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
												</span>Reports</a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table">
													<tr>
														<td>
															<span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul>
			<li>
				this is an information

			</li>
			<li>
				this is an information

			</li>
			<li>
				this is an information

			</li>
		</ul>

	</div>
</template>