<template name="tripDetails">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 top-bar">
				<section class="my-top-bar">
					<div class="full-width">
						<div class="full-width-btns-lg hidden-xs">
							<center>
								<a href="{{pathFor 'listings'}}" class="ui button">
									View All Listings
								</a>
								<a href="{{pathFor 'senderPostForm'}}" class="ui button">
									Send a package
								</a>
								<a href="{{pathFor 'travellerPostForm'}}" class="ui button">
									Post your trip plan
								</a>
							</center>
						</div>
						<div class="full-width-btn-xs visible-xs">
							<table style="width:100%" id="full-width-btns-table">
								<tbody>
									<tr>
										<td>
											<a href="{{pathFor 'listings'}}" class="ui button mini">
												View All Listings
											</a>
										</td>
										<td>
											<a href="{{pathFor 'senderPostForm'}}" class="ui button mini">
												Send a package
											</a>
										</td>
										<td>
											<a href="{{pathFor 'senderPostForm'}}" class="ui button mini">
												Send a package
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	{{#with trip}}
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
				<div class="well profile">
					<div class="col-sm-12">
						<div class="col-xs-12 col-sm-8">
							<h3>{{origin_country}} ({{origin_city}}) to {{destination_country}} ({{destination_city}})</h3>
							<p> <strong>Travelling on: </strong> {{date_ft travel_date }} </p>
							<p><strong>General Travel Info: </strong> {{general_thoughts}}
							</p>
							<div class="btn-group dropup btn-block view-profile-block">
								<button class="btn btn-info" disabled=""><span class="fa fa-user"></span> View Profile</button>
								{{#if ownerOfTrip _id}}
								{{else}}
								<a class="btn btn-info btn-block" href="{{pathFor 'user_profile' _id=owner}}"><span class="fa fa-user"></span> View Profile </a>
								{{/if}}
							</div>
						</div>             
						<div class="col-xs-12 col-sm-4 text-center">
							<figure>
								{{> avatar userId=tripOwnerId shape="circle" size="large" class="public-avatar"}}
							</figure>
						</div>
					</div>            
					<div class="col-xs-12 divider text-center">
						<div class="col-xs-12 col-sm-4 emphasis">
							<h2><strong> 10 kg</strong></h2>                    
							<p><small>Available space</small></p>
							{{#if ownerOfTrip _id}}
							<button class="btn btn-primary" disabled="">Send delivery request</button>
							{{else}}
							<button class="btn btn-primary btn-send-req">Send delivery request</button>
							{{/if}}
							
						</div>
						<div class="col-xs-12 col-sm-4 emphasis">
							
						</div>
					</div>
				</div>                 
			</div>
		</div>
	</div>
	{{/with}}
	{{> requestModal}}
</template>