<template name="listDetails">
	<!-- <div class="col-md-6">
		<div class="small-profile">
			profile
		</div>
	</div> -->
	

	{{#with listDetails}}
	<div class=" container ">
		<div class="row">
			<!-- Card Projects -->
			<div class=" col-md-6 card-title">
				<span>{{title}}</span>

			</div>
			<div class="col-md-6 col-md-offset-3">
				<div class="card">
					<div class="card-image">
						<img class="img-responsive" src="{{absoluteImageUrl}}">
						
					</div>

					<div class="card-content">
						<p>{{description}}
						</p>
					</div>

					<div class="card-action">
						<a href="#" target="new_blank">Connect</a>
						<a href="#" target="new_blank">Wieght</a>
						<a href="#" target="new_blank">Cash Reward</a>
						<a href="#" target="new_blank">Link</a>
						<a href="#" target="new_blank">Link</a>
					</div>
				</div>
			</div>


			<div class="col-md-6 side-panel">
				<div class="postDetails-leftPanel">
					<div >
						<div class="row">
							<div class="col-sm-6 col-md-12">
								<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
												</span>Content</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">
											<div class="panel-body">
												<table class="table">
													<tr>
														<td>
															<span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
															<span class="badge">42</span>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
												</span>Modules</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table">
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Invoices</a>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Shipments</a>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Tex</a>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
												</span>Account</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table">
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Change Password</a>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
														</td>
													</tr>
													<tr>
														<td>
															<a href="http://www.jquery2dotnet.com">Import/Export</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
															Delete Account</a>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
												</span>Reports</a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table">
													<tr>
														<td>
															<span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
														</td>
													</tr>
													<tr>
														<td>
															<span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/with}}
	<hr>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Blog Entries Column -->
			<div class="col-md-8">

				<!-- First Blog Post -->
				<h2>
					<a href="#">Blog Post Title</a>
				</h2>
				<p class="lead">
					by <a href="index.php">Start Bootstrap</a>
				</p>
				<p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
				<hr>
				<img class="img-responsive" src="http://placehold.it/900x300" alt="">
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
				<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

			</div>

			<!-- Blog Sidebar Widgets Column -->
			<div class="col-md-4">

				<!-- Blog Search Well -->
				<div class="well">
					<h4>Item Specifications</h4>
					<div class="row round-circles">
						<div class="col-md-4">
							<div class="circle" title="Amount offered">
								<p class="fontawesome">
									<i class="fa fa-money"></i>
								</p>
								<p class="amount">
									<br>
									$ 20
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="circle" title="Targeted weight">
								<p class="fontawesome">
									<i class="fa fa-suitcase"></i>
								</p>
								<p class="amount">
									<br>
									9kg
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="circle" title="Mail me">
								<p class="fontawesome">
									<i class="fa fa-env"></i>
								</p>
								<p class="envelope">
									<i class="fa fa-envelope-o"></i>
								</p>
							</div>
						</div>
					</div>
					<!-- /.input-group -->
				</div>

				<!-- Blog Categories Well -->
				<div class="well">
					<h4>Verifications</h4>
					<div class="row">
						<div class="col-lg-6">
							<ul class="list-unstyled">
								<li><i class="fa fa-envelope-o"></i><a href="#">Passport</a>
								</li>
								<li><i class="fa fa-envelope-o"></i><a href="#">Drivers Licence</a>
								</li>
								<li><a href="#">Facebook</a>
								</li>
								<li><a href="#">Linkdin</a>
								</li>
							</ul>
						</div>
						<!-- /.col-lg-6 -->
						<div class="col-lg-6">
							<ul class="list-unstyled">
								<li><a href="#">email</a>
								</li>
								<li><a href="#">Mobiel phone</a>
								</li>
								<li><a href="#">google +</a>
								</li>
								<li><a href="#">Twitter</a>
								</li>
							</ul>
						</div>
						<!-- /.col-lg-6 -->
					</div>
					<!-- /.row -->
				</div>

				<!-- Side Widget Well -->
				<div class="well">
					<h4>Activities</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
				</div>

			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</template>