<template name="search">
    <input class="form-inline location input-large input-contrast" value="" placeholder="Where do you want to go?" name="location" type="text">
</template>


<!-- first input field is within a wrapper div with css rules position: relative;
display: inline-block; within this div is a span tag with the same css rules -->

<!-- label and input field comes up next. The form needs to be an inline form. The input field has a width of 380px-->

<!-- second search field is also a span element with the same css rules but has width of 130px. Same applies to third search field. All the fields must be inline-->

<!-- <form id="search_form" method="get" data-reactid=".0">
    <div class="search-form-input-wrapper" data-reactid=".0.0">
        <div class="location-wrapper" data-reactid=".0.0.0">
            <span class="input-placeholder-group" data-reactid=".0.0.0.0">
                <label class="input-placeholder-label screen-reader-only" for="location" data-reactid=".0.0.0.0.0">Where do you want to go?
                </label>
                <input class="form-inline location input-large input-contrast" aria-autocomplete="both" aria-owns="menu-1" autocomplete="off" value="" placeholder="Where do you want to go?" name="location" id="location" data-reactid=".0.0.0.0.1" type="text">
            </span>
            <p id="enter_location_error_message" class="bad hide" data-reactid=".0.0.0.1">
                Please set location
            </p>
        </div>
        <span class="input-placeholder-group" data-reactid=".0.0.1">
            <label class="input-placeholder-label screen-reader-only" for="checkin" data-reactid=".0.0.1.0">Check In
            </label>
            <input id="checkin" class="form-inline checkin search-option input-large input-contrast input-underline ui-datepicker-target" name="checkin" placeholder="Check In" data-reactid=".0.0.1.1" type="text">
        </span>
        <span class="input-placeholder-group" data-reactid=".0.0.2">
            <label class="input-placeholder-label screen-reader-only" for="checkout" data-reactid=".0.0.2.0">Check Out
            </label>
            <input id="checkout" class="form-inline checkout search-option input-large input-contrast input-underline ui-datepicker-target" name="checkout" placeholder="Check Out" data-reactid=".0.0.2.1" type="text">
        </span>
        <div class="select select-large" data-reactid=".0.0.3">
            <label for="guests" class="screen-reader-only" data-reactid=".0.0.3.0">
                Number of guests
            </label>
            <select id="guests" name="guests" data-reactid=".0.0.3.1">
                
            </select>
        </div>
        <div class="menu hide hide" id="menu-1" aria-expanded="false" aria-role="listbox" data-reactid=".0.0.4">
        <div class="menu-section " data-reactid=".0.0.4.0">
            
        </div>
        </div>
        </div>
        <input name="source" value="bb" data-reactid=".0.1" type="hidden">
        <button type="submit" class="search-button form-inline btn btn-primary btn-large" id="submit_location" data-reactid=".0.2">Search</button>
    </form>
 -->

