<template name="searchForm">
<!--     {{#autoForm schema=searchFormSchema id="searchForm"}}
        <fieldset>
            <div class="search-form-input-wrapper">
              <div class="select input-placeholder-group">
              {{> afQuickField name="type_of_search" label=false class="form-inline" id="type-of-search"}}
              </div>
              <div class="select input-placeholder-group">
                 {{> afQuickField name="origin_country" label=false class="form-inline" id="origin-country"}}
              </div>
              <div class="select input-placeholder-group">
                 {{> afQuickField name="destination_country" label=false class="form-inline" id="destination-country"}}
              </div>
              <div class="select input-placeholder-group">
                {{> afQuickField name="choose_date" label=false class="form-inline date-picker" id="choose-date"}}
              </div>
            </div>
            
        </fieldset>
    {{/autoForm}} -->
 <!--    <form id="search_form">
        <div class="search-form-input-wrapper">
            <div class="select select-large input-placeholder-group">
               <label for="type-of-search" class="input-placeholder-label screen-reader-only">
               What do you want to do?
               </label>
               <select id="type-of-search" name="type-of-search">
                   <option value="" disabled selected>What do you want to do?</option>
                   <option value="send-an-item">I want to send a package</option>
                   <option value="carry-an-item">I want to carry a package</option>
               </select>
            </div>
            <div class="select select-large input-placeholder-group">
               <label for="origin_country" class="input-placeholder-label screen-reader-only">
                    From which country?
               </label>
               <select id="origin-country" name="origin_country">
                   <option value="" disabled selected>From which country?</option>
                   <option value="USA">USA</option>
                   <option value="UK">UK</option>
                   <option value="Ghana">Ghana</option>
               </select>
            </div>
            <div class="select select-large input-placeholder-group">
               <label for="destination_country" class="input-placeholder-label screen-reader-only">
                    To which country?
               </label>
               <select id="destination-country" name="destination_country">
                   <option value="" disabled selected>To which country?</option>
                   <option value="USA">USA</option>
                   <option value="UK">UK</option>
                   <option value="Ghana">Ghana</option>
               </select>
            </div>
            <div class="select select-large input-placeholder-group">
               <label for="choose_date" class="input-placeholder-label screen-reader-only">
                    Choose date
               </label>
                <input id="choose-date" class="" name="choose_date" 
                placeholder="Choose date" type="text">
            </div>
            <button type="submit" class="search-button form-inline btn btn-primary btn-large" id="submit_search">Search</button>
        </div>
    </form> -->

</template>
