<template name="team">

    <div class="about-team" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-heading">
                        <h3>Behind Travit</h3>
                        <span class="col-line"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team-member text-center">
                        <img class="img-responsive" src="images/prince.jpg" alt="team">
                        <div class="team-img-meta">
                            <h5>Prince Anim</h5>
                            <h6>Co-Founder</h6>
                            <p>Maecenas suscipit imperdiet adipiscing sceleris integer posuere erat venenatis pellentesque</p> 
                            <ul class=" list-inline social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="team-member text-center">
                        <img class="img-responsive" src="images/teamKen.jpg" alt="team">
                        <div class="team-img-meta">
                            <h5>Kennedy Anyinatoe</h5>
                            <h6>CPO</h6>
                            <p>Maecenas suscipit imperdiet adipiscing sceleris integer posuere erat venenatis pellentesque</p> 
                            <ul class=" list-inline social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="team-member text-center">
                        <img class="img-responsive" src="images/teamBruce.jpeg" alt="team">
                        <div class="team-img-meta">
                            <h5>Laud Bruce Tagoe</h5>
                            <h6>CTO</h6>
                            <p>Maecenas suscipit imperdiet adipiscing sceleris integer posuere erat venenatis pellentesque</p> 
                            <ul class=" list-inline social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="team-member text-center">
                        <img class="img-responsive" src="images/banbee.jpeg" alt="team">
                        <div class="team-img-meta">
                            <h5>Barnabas Ayinloya Nsoh</h5>
                            <h6>Operations</h6>
                            <p>Maecenas suscipit imperdiet adipiscing sceleris integer posuere erat venenatis pellentesque</p> 
                            <ul class=" list-inline social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
