<template name="travellerPostForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 top-bar">
        <section class="my-top-bar">
          <div class="full-width">
            <center>
              <a href="{{pathFor 'listings'}}" class="ui button">
                View All Listings
              </a>
              <a href="{{pathFor 'senderPostForm'}}" class="ui button">
                Send a package
              </a>
            </center>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        {{> postTravel}}
      </div>         
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Quick Guide
            </h3>
          </div>
          <div class="panel-body">
            <br>
            <ul>
              <li>Kindly fill all required fields.</li>
              <li>Try to be very explicit in writing.</li>
              <!-- <li>Travit does not facilitate <strong>illegal</strong> items.</li> -->

            </ul>
          </div>
          <div class="panel-heading">
            <h2 class="panel-title">
             Thank You!
           </h2>
         </div>
       </div>
     </div>
   </div>
 </div>
</template>