<template name="userPublicProfile">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 top-bar">
            <section class="my-top-bar">
              <div class="full-width">
                <center>
                  <a href="{{pathFor 'listings'}}" class="ui button">
                    View Listings
                  </a>
                  <a href="{{pathFor 'senderPostForm'}}" class="ui button">
                    Send a package
                  </a>
                  <a href="{{pathFor 'travellerPostForm'}}" class="ui button">
                    Post a trip
                  </a>
                </center>
              </div>
            </section>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="well profile">
                    <div class="col-sm-12">
                        <div class="col-xs-12 col-sm-6">
                            <h2>{{fullUserName user}}</h2>
                            <p><strong>Nationality: </strong>{{user.profile.country}}</p>
                            <p><strong>City:</strong> {{user.profile.city}}</p>
                            <button class="btn btn-primary btn-send-msg">Send a message</button>
                        </div> 
                        <div class="col-xs-12 col-sm-6 text-center">
                            <figure>
                                {{> avatar userId=user._id shape="circle" size="large" class="public-avatar"}}
                                <figcaption class="ratings">
                                    <p>Ratings</p>
                                    
                                        <!-- {{> rating}} -->
                                    <div class="ui rating" id="{{user._id}}" data-rating="{{user.profile.rating}}" data-max-rating="5"></div>
                                    
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <section class="col-xs-12 col-sm-12 divider about-section">
                            <strong><p>About</p></strong>
                            <p>{{checkAbout user._id}}</p>
                        </section>
                    </div>
                    <div class="col-xs-12 divider text-center action-buttons-section">
                       <!--  <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong> 50 </strong></h2>                    
                            <p><small>Points</small></p>
                        </div> -->
                        <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong>{{reviewCount}}</strong></h2>                    
                            <p><small>{{reviewCountString reviewCount}}</small></p>
                        {{#if noReviews reviewCount}}
                            <button class="btn btn-info btn-block hidden-xs show-reviews"><span class="fa fa-comments"></span> Add a review </button>
                            <button class="btn btn-info btn-block btn-sm visible-xs show-reviews"><span class="fa fa-comments"></span>  Add a review</button>
                        {{else}}
                            <button class="btn btn-info btn-block hidden-xs show-reviews"><span class="fa fa-comments"></span> View Reviews </button>
                            <button class="btn btn-info btn-block btn-sm visible-xs show-reviews"><span class="fa fa-comments"></span> View Reviews </button>
                        {{/if}}
                        </div>
                      <!--   <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong>200</strong></h2>                    
                            <p><small>Connections</small></p>
                            <div class="btn-group dropup btn-block">
                              <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu text-left" role="menu">
                                <li><a href="#"><span class="fa fa-user-plus pull-right"></span> Connect with {{user.profile.first_name}}</a></li>
                                <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send a message</a></li>
                              </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container second-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                 <a href="#" id="hide-reviews">Hide Reviews</a>
                <div class="well" id="reviews-well">
                    {{#autoForm collection="Reviews" id="addReviewForm" }}
                        {{> afQuickField name='text' rows=3 placeholder="Add a review" label=false}}
                    <div class="call-out">
                        <input type="submit" value="Add my review" class="btn btn-info btn-review">
                    </div>
                    {{/autoForm}}

                    <div class="ui list">
                    <p class="getter" data-user-id="{{user._id}}"></p>
                    {{#each reviews}}
                      <div class="item">
                            <img class="ui avatar image" src="{{reviewerPicture reviewer}}">
                            <div class="content">
                              <a class="header">{{fullUserName reviewer}}</a>
                              <div class="description">{{text}}
                              </div>
                              <div class="fnt-smaller fnt-lighter fnt-arial span-detail">
                                  Review posted {{ tm_now createdAt}}
                              </div>
                            </div>
                      </div>
                     {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> messageModal}}
</template>

<template name="rating">
        <!-- <div class="rating" data-role="rating" data-size="small" data-on-rate="demo_func_onRate"></div> -->
        <div class="ui rating" id="{{user._id}}" data-rating="{{user.profile.rating}}" data-max-rating="5"></div>
</template>