 /*
<======================Text slider on index page ==================================>
*/

body {
	/*padding-top: 60px;*/
	/*padding-bottom: 40px;*/
}

.item{
	/*background-color:#ccc;*/
	display:block;
}

.carousel-caption{
	/*color:#000;*/
	position:static;
}
 /*
<====================== End of Text slider on index page ==================================>
*/
/*.email{
	margin-left: 20px;
	}*/
/*	.typeOfUser{
		margin-left: 20px;
	}

	.sign-up-form input, .sign-in-form input, .sign-up-form input[type="password"], .sign-in-form input[type="password"], .sign-up-form input[type="text"], .sign-in-form input[type="text"], .sign-up-form input, .sign-in-form input, .sign-up-form input[type="email"], .sign-in-form input[type="email"] {
		margin-left: -170px;
		}*/
		.landing-page-table{
			margin-left: 275px;
			width: 1530px;
		}


		/*------create profile form----------------------------------------------*/
		#wrap{
		background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
		/* Opera */ 
		background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
		/* W3C Markup, IE10 Release Preview */ 
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
		background-repeat: no-repeat;
		background-attachment: fixed;
		}
		.create-profile .legend{
		  color:#141823;
		  font-size:25px;
		  font-weight:bold;
		}
		.create-profile-btn {
		  background: #3498db;
		  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
		  background-image: -moz-linear-gradient(top, #79bc64, #578843);
		  background-image: -ms-linear-gradient(top, #79bc64, #578843);
		  background-image: -o-linear-gradient(top, #79bc64, #578843);
		  background-image: linear-gradient(to bottom, #79bc64, #578843);
		  -webkit-border-radius: 4;
		  -moz-border-radius: 4;
		  border-radius: 4px;
		  text-shadow: 0px 1px 0px #898a88;
		  -webkit-box-shadow: 0px 0px 0px #a4e388;
		  -moz-box-shadow: 0px 0px 0px #a4e388;
		  box-shadow: 0px 0px 0px #a4e388;
		  font-family: Arial;
		  color: #ffffff;
		  font-size: 20px;
		  padding: 10px 20px 10px 20px;
		  border: solid #3b6e22  1px;
		  text-decoration: none;
		}

		.create-profile-btn:hover {
		  background: #79bc64;
		  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
		  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
		  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
		  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
		  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
		  text-decoration: none;
		}


		/*----------------------create profile form end-----------------------------------------*/